.GameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .UserCardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .GameCardContainer {
    // height: 80%;
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
  }
}
