.GameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .UserCardContainer {
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    margin:20px auto 10px;
  }

  .GameCardContainer {
    height: 73%;
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
  }
}
