.gameButton {
    border-radius:50%;
    background-color:black;
    font-size:30px;
    position:absolute;
    width:200px;
    height:200px;
    margin: 0 auto;
    z-index: 20;
    // cursor: pointer;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
    .text{
        font-size:30px;
        color:#fff;
    }
}

