.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
    border-left:20px black solid;
}

.green {
    background-color: green;
    border-top:20px black solid; 
}

.red {
    background-color: red;
    border-top:20px black solid; 
    border-left:20px black solid;
}

.color-wrapper {
    height: 300px;
    width: 300px;
   
   
}