* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.App,
#root {
  height: 100vh;
  background-color: #f7f8ff;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #f7f8ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
.appHeader{
  height:10%;
}
.appBody{
  height:90%;
}
}


